<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome <%= @user.name %></h1>
    <p>
      You have registed for placements for the company <%= @company.name %>
    </p>
    <p>
      The exam is scheduled for tomorrow. Do attend
    </p>
    <p>Placements team wishes you all the very best for your placements</p>
  </body>
</html>